{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div>
        <h1>Admin Dashboard</h1>
        <p>Yeah, i dont know what to put here yet. maybe something related to user's and monthly subscribers? sure.</p>
    </div>
{% endblock %}
